<div class = "jumbotron">

      <h1>Welcome to CronappKm!</h1>
      <p>

      </p>
       <div align="center"><img src="/photo10.jpg"></div> 
      <p>
         <a class = "btn btn-primary btn-lg" role = "button">Learn more</a>
      </p>
</div>
